* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: 100%;
}

/* Header Start */

#mainHeader {
    position: absolute;
    top: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.4s ease, padding 0.4s ease;
}

#mainHeader.shrink {
    position: fixed;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: #0F172B;
    opacity: 0.95;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
    column-gap: 1rem;
}

.navbar-brand {
    font-size: 1.8rem !important;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 2.5rem !important;
    color: #FEA116 !important;
}

.nav-link {
    font-family: "Heebo", sans-serif;
    font-weight: 500;
    color: #ffffff !important;
    text-transform: uppercase;
}

.nav-link a {
    text-decoration: none;
    color: #ffffff;
}

.nav-link.active {
    color: #FEA116 !important;
}

.nav-dropdown.active {
    color: #ffffff !important;
    background-color: #FEA116 !important;
}

.nav-dropdown {
    text-decoration: none !important;
    color: black !important;
    display: block;
    padding-left: 1.8rem;
    padding: .5rem 0px .5rem 1.8rem;
}

.nav-dropdown:hover {
    background-color: rgb(203, 203, 203);
}

.option_btn {
    font-family: "Nunito", sans-serif !important;
    color: #ffffff;
    background-color: #FEA116;
    text-decoration: none;
    transition: all ease-in-out .4s;
}

.option_btn:hover {
    background-color: #feaf39;
    border-color: #feaa2d;
    box-shadow: 0 0 0 .25rem rgba(216, 137, 19, 0.5);
}

/* Home Section Start  */

.main_home_section {
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../img/bg-hero.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_home_text {
    padding-top: 18rem;
    padding-bottom: 18rem;
}

.main_home_text h1 {
    font-family: "Nunito", sans-serif;
    font-weight: 800;
}

.main_home_text p {
    color: #ffffff;
}

.main_home_text a {
    font-family: "Nunito", sans-serif !important;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #FEA116;
    text-decoration: none;
    transition: all ease-in-out .4s;
}

.main_home_text a:hover {
    background-color: #feaf39;
    border-color: #feaa2d;
    box-shadow: 0 0 0 .25rem rgba(216, 137, 19, 0.5);
}

.main_home_section img {
    animation: imgRotate 50s linear infinite;
}

@keyframes imgRotate {
    100% {
        transform: rotate(360deg);
    }
}

/* Service Section Start  */

.service_box {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: all ease-in-out .5s;
}

.service_box i {
    color: #FEA116;
    transition: all ease-in-out .5s;
}

.service_box h5 {
    font-family: "Nunito", sans-serif !important;
    font-weight: 800;
    color: black;
    transition: all ease-in-out .5s;
}

.service_box p {
    font-family: "Heebo", sans-serif;
    color: rgb(121, 121, 121);
    transition: all ease-in-out .5s;
}

.service_box:hover {
    color: #ffffff;
    background-color: #FEA116;
}

.service_box:hover i,
.service_box:hover p {
    color: #ffffff;
}

/* About Section Start  */

.about_img2 {
    margin-top: 25%;
}

.about_text h5 {
    color: #FEA116;
    font-family: "Pacifico", cursive !important;
    font-weight: 500;
}

.about_text h1 {
    font-family: "Nunito", sans-serif;
    font-weight: 800;
}

.about_text h1 i {
    color: #FEA116;
}

.about_text p {
    color: rgb(113, 113, 113);
    font-family: "Heebo", sans-serif;
}

.border_primary {
    border-color: #FEA116 !important;
}

.text_primary {
    color: #FEA116 !important;
}

.about_text h6 {
    font-family: "Heebo", sans-serif;
}

.about_text a {
    font-family: "Nunito", sans-serif !important;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #FEA116;
    text-decoration: none;
    transition: all ease-in-out .4s;
}

.about_text a:hover {
    background-color: #feaf39;
    border-color: #feaa2d;
    box-shadow: 0 0 0 .25rem rgba(216, 137, 19, 0.5);
}

.about_text h5::after {
    position: absolute;
    content: '';
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background-color: #FEA116;
}

/* Food Menu Section Start  */

.heading_text h5 {
    font-family: "Pacifico", cursive !important;
    color: #FEA116;
    font-weight: 500;
    display: inline-block;
}

.heading_text h5::before {
    position: absolute;
    content: '';
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background-color: #FEA116;
}

.heading_text h5::after {
    position: absolute;
    content: '';
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background-color: #FEA116;
}

.heading_text h1 {
    font-family: "Nunito", sans-serif !important;
    font-weight: 800;
}

.tab_class {
    margin-top: 2rem;
}

.tab_ul {
    border-bottom: 1px solid #dee2e6;
}

.tab_ul li {
    list-style: none;
}

.tab_ul li a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.tab_ul li a i {
    color: #FEA116;
}

.tab_ul li a span {
    font-family: "Heebo", sans-serif;
    color: rgb(113, 113, 113);
    font-size: .9rem;
}

.tab_ul li a h6 {
    font-family: "Nunito", sans-serif !important;
    font-weight: 800;
}

.tab_ul .active {
    border-bottom: 2px solid #FEA116;
}

.nav_content_box {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.nav_content_text h5 span {
    font-family: "Nunito", sans-serif !important;
    font-weight: 800;
    color: black;
}

.text_primary {
    color: #FEA116;
}

.nav_content_text p {
    font-family: "Heebo",
        sans-serif;
    color: rgb(113, 113, 113);
    font-size: .9rem;
    font-style: italic;
}

/* Reservation Scetion Start  */

.video {
    position: relative;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(../img/video.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video button i {
    z-index: 1;
}

.video button {
    width: 85px;
    height: 85px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FEA116;
}

.video button::before {
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #FEA116;
    border-radius: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
    animation: plus-border 1500ms ease-out infinite;
}

@keyframes plus-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;

    }
}

.main_form_box {
    background-color: #0F172B;
}

.reservation_text h5 {
    font-family: "Pacifico", cursive !important;
    font-weight: 500;
    color: #FEA116;
    display: inline-block;
}

.reservation_text h5::after {
    position: absolute;
    content: '';
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background-color: #FEA116;
}

.reservation_text h1 {
    font-family: "Nunito", sans-serif !important;
    font-weight: 800;
}

.reservation_inputs input:focus {
    color: #666565;
    background-color: #fff;
    border-color: #ffd08b;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(254, 161, 22, 0.25);
}

.reservation_inputs label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    pointer-events: none;
    transform-origin: 0 0;
    border: 1px solid transparent;
    z-index: 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.reservation_inputs input:focus~label {
    opacity: .65;
    transform: scale(0.85) translateY(-0.9rem) translateX(0.15rem);
}

.reservation_inputs select {
    padding-top: 1.25rem !important;
    padding-bottom: .9rem !important;
}

.reservation_inputs select:focus {
    color: #666565;
    background-color: #fff;
    border-color: #ffd08b;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(254, 161, 22, 0.25);
}

.reservation_inputs .people_label {
    opacity: .65;
    transform: scale(0.85) translateY(-0.9rem) translateX(0.15rem);
}

.reservation_inputs textarea:focus {
    color: #666565;
    background-color: #fff;
    border-color: #ffd08b;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(254, 161, 22, 0.25);
}

.reservation_inputs textarea:focus~label {
    opacity: .65;
    transform: scale(0.85) translateY(-0.9rem) translateX(0.15rem);
}

.reservation_inputs button {
    color: #ffffff;
    background-color: #FEA116;
    border: none;
    font-family: "Nunito", sans-serif !important;
}

/* Master Chefs Section Start  */

.team_box {
    height: calc(100% - 65px);
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: all ease-in-out .4s;
}

.img_box img {
    transform: scale(1);
    transition: all ease-in-out .4s;
}

.team_box h5 {
    font-family: "Nunito", sans-serif !important;
    font-weight: 800;
}

.team_box p {
    font-family: "Heebo", sans-serif;
    color: rgb(121, 121, 121);
    font-weight: 500;
}

.social {
    transition: all ease-in-out .4s;
}

.social a {
    text-decoration: none;
    background-color: #FEA116;
    border-radius: 50px 50px 0px 0px;
}

.social i {
    color: #ffffff;
}

.team_box:hover {
    height: 100%;
}

.team_box:hover .img_box img {
    transform: scale(1.2);
}

/* Testimonial Slider Section Start  */

.testimonial_slider .item {
    border: 1px solid rgb(190, 190, 190);
}

.bg-owncolor {
    background-color: #FEA116;
}

.owncolor {
    color: #FEA116;
}

.testimonial_slider .item img {
    border-radius: 50%;
}


.testimonial_slider .item h5 {
    font-family: "Nunito", sans-serif !important;
    font-weight: 800;
    color: black;
}

.testimonial_slider .item p {
    font-family: "Heebo", sans-serif;
    font-weight: 500;
    color: rgb(130, 130, 130);
}

.testimonial_slider .item span {
    font-family: "Heebo", sans-serif;
    font-weight: 500;
    font-size: .9rem;
    color: rgb(130, 130, 130);
}

.slick-dots li button {
    width: 15px !important;
    height: 15px !important;
    background-color: #FEA116;
    border-radius: 50%;
}

.slick-dots li.slick-active button {
    width: 15px !important;
    height: 15px !important;
    background-color: #FEA116;
    border-radius: 50%;
}

.slick-dots li.slick-active button:before {
    color: #FEA116 !important;
}

.slick-dots li button:before {
    width: 15px !important;
    height: 15px !important;
    color: transparent !important;
    border: 1px solid gray !important;
    border-radius: 50%;
}

/* Footer Start  */

.footer_title {
    font-family: "Pacifico", cursive;
    color: #FEA116;
    display: inline-block;
}

.footer_title::after {
    position: absolute;
    content: '';
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background-color: #FEA116;
}

.heading_text h1 {
    font-family: "Nunito", sans-serif !important;
    font-weight: 800;
}

footer {
    background-color: #0F172B;
}

footer ul li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    transition: all ease-in-out .4s;
}

.company_ul {
    display: flex;
    flex-direction: column;
}

.company_ul a:hover {
    letter-spacing: 2px;
}

.footer_social_ul a {
    width: 35px !important;
    height: 35px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 50%;
}

p {
    color: #ffffff;
}

.footer_social_ul a:hover {
    background-color: #ffffff;
}

.footer_social_ul a:hover i {
    color: #FEA116;
}

h5 {
    font-family: "Nunito", sans-serif !important;
    font-weight: 600;
    color: #ffffff;
}

.newsltter {
    position: relative;
}

.newsltter button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: #ffffff;
    background-color: #FEA116;
    z-index: 2;
}

.newsltter input:focus {
    outline: none;
    border-color: #feaa2d;
    box-shadow: 0 0 0 .25rem rgba(216, 137, 19, 0.5);
}

.copyright p a {
    color: #ffffff;
}

.footer_menu a {
    text-decoration: none;
    color: #ffffff;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.contact_heading_box {
    outline: 1px dashed rgb(155, 236, 34);
}

.contact_heading h5 {
    font-family: "Pacifico", cursive !important;
    color: #FEA116;
    font-weight: 500;
    display: inline-block;
}

.contact_heading h5::after {
    position: absolute;
    content: '';
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background-color: #FEA116;
}

.contact_heading p {
    font-family: "Heebo", sans-serif;
    font-weight: 500;
    color: black;
}